import (methods)
import (ggplot2)
import (ape)
importFrom (picante, psv)
importFrom (picante, psr)
importFrom (picante, pse)
importFrom (picante, psc)
importFrom (picante, psd)
exportPattern("^[[:alpha:]]+")
