import (methods)
import (ggplot2)
import (ape)
importFrom (plyr, compact)
importFrom (RJSONIO, fromJSON)
importFrom (stringr, str_replace_all)
importFrom (picante, psv)
importFrom (picante, psr)
importFrom (picante, pse)
importFrom (picante, psc)
importFrom (picante, psd)
exportPattern("^[[:alpha:]]+")
